body, html {
	height: 100%;
}

.outer {
	height: 90%;
	border: 0.05em solid red;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.container {
	margin: 0 auto;
  width: 50%;
}

.bg {
	background-image: url("../images/background2.jpeg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	color: goldenrod;
}

input {
	display: inline;
}