body, html {
	height: 100%;
}

li {
  padding: 15px;
  text-shadow: 1px 1px 2px goldenrod;
}

.outerpart {
	height: 100%;
	/*border: 0.05em solid red;*/
  width:100%;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  margin: 0;
  min-width: 100%;
}

.interpart {
	margin-top: 50px ;
  width: 50%;
  text-shadow: 2px 2px goldenrod;
  font-weight: bold;

}

.title {
  padding-top: 50px;
}

.column1 {
  padding-top: 20px;
}

.column2 {
  margin-top: 50px;
}

.bg {
	background-image: url("../images/background4.jpeg");
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.color {
	color: goldenrod;
}

.modal-header {
  display:block;
  text-align: left;
}

h1 {
	text-align: center;
	color: goldenrod;
  font-size: 50px;
}

h3 {
	text-align: center;
	color: goldenrod;
}


input {
  display: inline;
  background-color: white;
}

.wishtitle {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 goldenrod;
}

#dream-catch{
  font-weight: bold;
}

#popimage {
  max-width: 400px;
  max-height: 400px;
}

#ModalTitle {
  text-align: center;
}

/* CSS */
#add-dream {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1rem;
  box-sizing: border-box;
  color: goldenrod;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /*font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;*/
  padding: 0.5rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  font-weight: bold;
}

#add-dream:hover {
  background-color: goldenrod;
  color: #fff;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

ul.cloud a {
  color: goldenrod;
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.cloud a:hover {
  font-size: calc(var(--size) * 0.3rem + 0.75rem);
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 5; }
ul.cloud a[data-weight="6"] { --size: 6; }
ul.cloud a[data-weight="7"] { --size: 7; }
ul.cloud a[data-weight="8"] { --size: 8; }
ul.cloud a[data-weight="9"] { --size: 8; }

ul.cloud a {
  --size: 4;
  font-size: calc(var(--size) * 0.3rem + 0.25rem);
  /* ... */
}

ul.cloud a {
  opacity: calc((15 - (9 - var(--size))) / 15); 
  /* ... */
}

@media (min-width: 575px) {
  .bg {
    background-image: url("../images/background4.jpeg");
  }
}

